<app-loading *ngIf="loading"></app-loading>
<main *ngIf="!loading" _ngcontent-uga-c6="">
    <div _ngcontent-uga-c6="" class="breadcrumb-area">
        <div _ngcontent-uga-c6="" class="container">
            <div _ngcontent-uga-c6="" class="row">
                <div _ngcontent-uga-c6="" class="col-12">
                    <div _ngcontent-uga-c6="" class="breadcrumb-wrap">
                        <nav _ngcontent-uga-c6="" aria-label="breadcrumb">
                            <ul _ngcontent-uga-c6="" class="breadcrumb">
                                <li _ngcontent-uga-c6="" class="breadcrumb-item"><a _ngcontent-uga-c6=""
                                        href="index.html"><i _ngcontent-uga-c6="" class="fa fa-home"></i></a></li>
                                <li _ngcontent-uga-c6="" aria-current="page" class="breadcrumb-item active">About us
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section _ngcontent-uga-c6="" class="about-us section-padding">
        <div _ngcontent-uga-c6="" class="container">
            <div _ngcontent-uga-c6="" class="row align-items-center">
                <div _ngcontent-uga-c6="" class="col-lg-5">
                    <div _ngcontent-uga-c6="" class="about-thumb">
                        <img _ngcontent-uga-c6="" src="assets/images/about.jpg" alt="about thumb">
                        <img _ngcontent-uga-c6="" style="margin-top: 10px;" src="assets/images/about1.jpg"
                            alt="about1 thumb">
                    </div>
                </div>
                <div _ngcontent-uga-c6="" class="col-lg-7">
                    <div _ngcontent-uga-c6="" class="about-content">
                        <h2 _ngcontent-uga-c6="" class="about-title">About Us</h2>
                        <p _ngcontent-uga-c6=""> Glow N Glitter was born out of a passion to bridge style with
                            sophistication and grace with splendour. Founded in 2012 by Ms. Aparajita Ray, our 92.5
                            hallmarked, fine silver jewellery is curated with a sharp focus on artistry and quality
                            craftsmanship. Whether it be simple pieces for daily wear or ornate pieces for special
                            occasions, Glow N Glitter silver jewellery is appreciated by silver jewellery connoisseurs.
                        </p>
                        <p _ngcontent-uga-c6="">Glow N Glitter specialises in brass items for the home as well.
                            Traditional diyas (lamps), figures of Idols, aesthetic items of home decor, we offer a wide
                            range and variety. </p>
                        <p _ngcontent-uga-c6="" class="about-sub-title">Team Glow and Glitter invites you to explore
                            their fine collection🙏</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div _ngcontent-uga-c6="" class="choosing-area section-padding pt-0">
        <div _ngcontent-uga-c6="" class="container">
            <div _ngcontent-uga-c6="" class="row">
                <div _ngcontent-uga-c6="" class="col-12">
                    <div _ngcontent-uga-c6="" class="section-title text-center">
                        <h2 _ngcontent-uga-c6="" class="title">Why Choose Us</h2>
                        <p _ngcontent-uga-c6="">Online purchase, potential customers want to feel confident that they
                            are buying from a reputable source. Consider including information about your business and
                            your experience in the antique industry to help build credibility and trust.</p>
                    </div>
                </div>
            </div>
            <div _ngcontent-uga-c6="" class="row mbn-30">
                <div _ngcontent-uga-c6="" class="col-lg-4 col-md-4">
                    <div _ngcontent-uga-c6="" class="single-choose-item text-center mb-30"><i _ngcontent-uga-c6=""
                            class="fa fa-globe"></i>
                        <h4 _ngcontent-uga-c6="">shipping</h4>
                        <p _ngcontent-uga-c6=""> Free shipping pan India
                            On all orders over Rs.999
                            A charge of Rs.300 on all orders below Rs.999.
                        </p>
                    </div>
                </div>
                <div _ngcontent-uga-c6="" class="col-lg-4 col-md-4">
                    <div _ngcontent-uga-c6="" class="single-choose-item text-center mb-30"><i _ngcontent-uga-c6=""
                            class="fa fa-plane"></i>
                        <h4 _ngcontent-uga-c6="">fast delivery</h4>
                        <p _ngcontent-uga-c6="">Experience the joy of
                            fast delivery and get your hands on your desired products sooner than ever.</p>
                    </div>
                </div>
                <div _ngcontent-uga-c6="" class="col-lg-4 col-md-4">
                    <div _ngcontent-uga-c6="" class="single-choose-item text-center mb-30"><i _ngcontent-uga-c6=""
                            class="fa fa-comments"></i>
                        <h4 _ngcontent-uga-c6="">customers support</h4>
                        <p _ngcontent-uga-c6="">Call/Whatsapp : (+91) 905 139 8740 / (+91) 987 440 6700
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- testimonials -->
    <section _ngcontent-uga-c6="" data-bg="../../assets/img/testimonial/testimonials-bg.jpg"
        class="testimonial-area section-padding bg-img">
        <div _ngcontent-uga-c6="" class="container">
            <div _ngcontent-uga-c6="" class="row">
                <div _ngcontent-uga-c6="" class="col-12">
                    <div _ngcontent-uga-c6="" class="section-title text-center">
                        <h2 _ngcontent-uga-c6="" class="title">testimonials</h2>
                        <p _ngcontent-uga-c6="" class="sub-title">What they say</p>
                    </div>
                </div>
            </div>
            <div _ngcontent-uga-c6="" class="row">
                <div _ngcontent-uga-c6="" class="col-12">
                    <div _ngcontent-uga-c6="" class="testimonial-thumb-wrapper">
                        <div _ngcontent-uga-c6="" class="testimonial-thumb-carousel"></div>
                    </div>
                    <div _ngcontent-uga-c6="" class="testimonial-content-wrapper">
                        <div _ngcontent-uga-c6="" class="testimonial-content-carousel">
                            <div *ngFor="let testimonialsobj of testimonials" _ngcontent-uga-c6=""
                                class="testimonial-content">
                                <p _ngcontent-uga-c6=""> {{testimonialsobj.comment}}</p>
                                <div _ngcontent-uga-c6="" class="ratings"><span _ngcontent-uga-c6=""><i
                                            _ngcontent-uga-c6="" class="fa fa-star-o"></i></span><span
                                        _ngcontent-uga-c6=""><i _ngcontent-uga-c6=""
                                            class="fa fa-star-o"></i></span><span _ngcontent-uga-c6=""><i
                                            _ngcontent-uga-c6="" class="fa fa-star-o"></i></span><span
                                        _ngcontent-uga-c6=""><i _ngcontent-uga-c6=""
                                            class="fa fa-star-o"></i></span><span _ngcontent-uga-c6=""><i
                                            _ngcontent-uga-c6="" class="fa fa-star-o"></i></span></div>
                                <h5 _ngcontent-uga-c6="" class="testimonial-author"> {{testimonialsobj.name}} </h5>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>