<main _ngcontent-krs-c13="">
    <div _ngcontent-krs-c13="" class="breadcrumb-area">
        <div _ngcontent-krs-c13="" class="container">
            <div _ngcontent-krs-c13="" class="row">
                <div _ngcontent-krs-c13="" class="col-12">
                    <div _ngcontent-krs-c13="" class="breadcrumb-wrap">
                        <nav _ngcontent-krs-c13="" aria-label="breadcrumb">
                            <ul _ngcontent-krs-c13="" class="breadcrumb">
                                <li _ngcontent-krs-c13="" class="breadcrumb-item"><a _ngcontent-krs-c13=""
                                        href="index.html"><i _ngcontent-krs-c13="" class="fa fa-home"></i></a></li>
                                <li _ngcontent-krs-c13="" class="breadcrumb-item"><a _ngcontent-krs-c13=""
                                        href="shop.html">shop</a></li>
                                <li _ngcontent-krs-c13="" aria-current="page" class="breadcrumb-item active">checkout
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div _ngcontent-krs-c13="" class="checkout-page-wrapper section-padding">
        <div _ngcontent-krs-c13="" class="container">
            <div _ngcontent-krs-c13="" class="row">
                <div _ngcontent-krs-c13="" class="col-lg-6">
                    <div _ngcontent-krs-c13="" class="checkout-billing-details-wrap">
                        <h5 _ngcontent-krs-c13="" class="checkout-title">Billing Details</h5>
                        <div _ngcontent-krs-c13="" class="billing-form-wrap">
                            <form _ngcontent-krs-c13="" novalidate="" class="ng-dirty ng-touched ng-valid">
                                <div _ngcontent-krs-c13="" class="row">
                                    <div _ngcontent-krs-c13="" class="col-md-6">
                                        <div _ngcontent-krs-c13="" class="single-input-item"><label
                                                _ngcontent-krs-c13="" for="f_name" class="required">First
                                                Name</label><input #firstname _ngcontent-krs-c13="" name="first_name"
                                                type="text" placeholder="First Name" required=""
                                                class="ng-dirty ng-valid ng-touched"></div>
                                    </div>
                                    <div _ngcontent-krs-c13="" class="col-md-6">
                                        <div _ngcontent-krs-c13="" class="single-input-item"><label
                                                _ngcontent-krs-c13="" for="last_name" class="required">Last
                                                Name</label><input #lastname _ngcontent-krs-c13="" name="last_name"
                                                type="text" id="l_name" placeholder="Last Name" required=""
                                                class="ng-touched ng-dirty ng-valid"></div>
                                    </div>
                                </div>
                                <div _ngcontent-krs-c13="" class="single-input-item"><label _ngcontent-krs-c13=""
                                        for="email" class="required">Email Address</label><input #email
                                        _ngcontent-krs-c13="" type="email" name="email" id="email"
                                        placeholder="Email Address" required="" class="ng-touched ng-dirty ng-valid">
                                </div>
                                <div _ngcontent-krs-c13="" class="single-input-item"><label _ngcontent-krs-c13=""
                                        for="street-address" class="required mt-20">Street address</label><input
                                        #address1 _ngcontent-krs-c13="" type="text" name="address1" id="street-address"
                                        placeholder="Street address Line 1" required=""
                                        class="ng-dirty ng-valid ng-touched"></div>
                                <div _ngcontent-krs-c13="" class="single-input-item"><input #address2
                                        _ngcontent-krs-c13="" name="address2" type="text"
                                        placeholder="Street address Line 2 (Optional)"
                                        class="ng-valid ng-dirty ng-touched"></div>
                                <div _ngcontent-krs-c13="" class="single-input-item"><label _ngcontent-krs-c13=""
                                        for="town" class="required">Town / City</label><input #city
                                        _ngcontent-krs-c13="" name="city" type="text" id="town"
                                        placeholder="Town / City" required="" class="ng-dirty ng-valid ng-touched">
                                </div>
                                <div _ngcontent-krs-c13="" class="single-input-item"><label _ngcontent-krs-c13=""
                                        for="state">State</label><input #state _ngcontent-krs-c13="" name="state"
                                        type="text" id="state" placeholder="State / Divition"
                                        class="ng-valid ng-dirty ng-touched">
                                </div>
                                <div _ngcontent-krs-c13="" class="single-input-item"><label _ngcontent-krs-c13=""
                                        for="postcode" class="required">Postcode / ZIP</label><input #pincode
                                        _ngcontent-krs-c13="" name="pincode" type="text" id="postcode"
                                        placeholder="Postcode / ZIP" required="" class="ng-dirty ng-valid ng-touched">
                                </div>
                                <div _ngcontent-krs-c13="" class="single-input-item"><label _ngcontent-krs-c13=""
                                        for="phone">Phone</label><input #contact _ngcontent-krs-c13="" type="text"
                                        id="phone" name="contact" placeholder="Phone"
                                        class="ng-valid ng-dirty ng-touched"></div>
                                <div _ngcontent-krs-c13="" class="single-input-item"><label _ngcontent-krs-c13=""
                                        for="ordernote">Order Note</label><textarea #note _ngcontent-krs-c13=""
                                        name="note" id="ordernote" cols="30" rows="3"
                                        placeholder="Notes about your order, e.g. special notes for delivery."
                                        class="ng-valid ng-dirty ng-touched"></textarea></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div _ngcontent-krs-c13="" class="col-lg-6">
                    <div _ngcontent-krs-c13="" class="order-summary-details">
                        <h5 _ngcontent-krs-c13="" class="checkout-title">Your Order Summary</h5>
                        <div _ngcontent-krs-c13="" class="order-summary-content">
                            <div _ngcontent-krs-c13="" class="order-summary-table table-responsive text-center">
                                <table _ngcontent-krs-c13="" class="table table-bordered">
                                    <thead _ngcontent-krs-c13="">
                                        <tr _ngcontent-krs-c13="">
                                            <th _ngcontent-krs-c13="">Products</th>
                                            <th _ngcontent-krs-c13="">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody _ngcontent-krs-c13="">
                                        <tr *ngFor="let cartobj of cart" _ngcontent-krs-c13="" class="ng-star-inserted">
                                            <td _ngcontent-krs-c13=""><a _ngcontent-krs-c13=""> {{cartobj.sub_category}}
                                                    <strong _ngcontent-krs-c13=""> × {{cartobj.quantity}} </strong></a>
                                            </td>
                                            <td _ngcontent-krs-c13=""> {{cartobj.price}} </td>
                                        </tr><!---->
                                    </tbody>
                                    <tfoot _ngcontent-krs-c13="">
                                        <tr _ngcontent-krs-c13="">
                                            <td _ngcontent-krs-c13="">Sub Total</td>
                                            <td _ngcontent-krs-c13=""><strong _ngcontent-krs-c13="">₹
                                                    {{carttotalamount.sub_total}}</strong>
                                            </td>
                                        </tr>
                                        <tr _ngcontent-krs-c13="">
                                            <td _ngcontent-krs-c13="">Shipping</td>
                                            <td _ngcontent-krs-c13="" class="d-flex justify-content-center">
                                                <ul _ngcontent-krs-c13="" class="shipping-type">
                                                    <li _ngcontent-krs-c13="">
                                                        <div _ngcontent-krs-c13="" class="custom-control custom-radio">
                                                            <input _ngcontent-krs-c13="" type="radio" id="flatrate"
                                                                name="shipping" checked=""
                                                                class="custom-control-input"><label
                                                                _ngcontent-krs-c13="" for="flatrate"
                                                                class="custom-control-label">Flat Rate: ₹
                                                                {{carttotalamount.shipping_charge}} </label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr _ngcontent-krs-c13="">
                                            <td _ngcontent-krs-c13="">Total Amount</td>
                                            <td _ngcontent-krs-c13=""><strong _ngcontent-krs-c13="">₹
                                                    {{carttotalamount.total}} (including
                                                    GST)</strong></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div _ngcontent-krs-c13="" class="order-payment-method">
                                <div _ngcontent-krs-c13="" class="summary-footer-area">
                                    <div _ngcontent-krs-c13="" class="custom-control custom-checkbox mb-20">
                                        <!-- <input #checkbox _ngcontent-krs-c13="" type="checkbox" id="terms" required=""
                                            class="custom-control-input">
                                        <label _ngcontent-krs-c13="" for="terms" class="custom-control-label">I have
                                            read and agree to the website <a _ngcontent-krs-c13="">terms and
                                                conditions.</a></label> -->
                                    </div>
                                    <button
                                        (click)="placeorder(pincode.value,address1.value,state.value,city.value,note.value,address2.value,lastname.value,firstname.value,email.value,contact.value)"
                                        _ngcontent-krs-c13="" type="submit" class="btn btn-sqr">Place Order
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>