<hr _ngcontent-uga-c17="">
<footer _ngcontent-uga-c17="" class="footer-widget-area" style="background-color: white;">
    <div _ngcontent-uga-c17="" class="footer-top section-padding">
        <div _ngcontent-uga-c17="" class="container">
            <div _ngcontent-uga-c17="" class="row">
                <div _ngcontent-uga-c17="" class="col-lg-3 col-md-6">
                    <div _ngcontent-uga-c17="" class="widget-item">
                        <div _ngcontent-uga-c17="" class="widget-title">
                            <div _ngcontent-uga-c17="" class="widget-logo" style="background-color: black;"><a
                                    _ngcontent-uga-c17="" href="index.html"><img _ngcontent-uga-c17=""
                                        src="assets/images/logo.png" alt="brand logo"></a></div>
                        </div>
                        <div _ngcontent-uga-c17="" class="widget-body">
                            <p _ngcontent-uga-c17="">Exclusive Collection of Silver Jewellery and Brass Handicrafts.
                            </p>
                        </div>
                    </div>
                </div>
                <div _ngcontent-uga-c17="" class="col-lg-3 col-md-6">
                    <div _ngcontent-uga-c17="" class="widget-item">
                        <h6 _ngcontent-uga-c17="" class="widget-title">Contact Us</h6>
                        <div _ngcontent-uga-c17="" class="widget-body">
                            <address _ngcontent-uga-c17="" class="contact-block">
                                <ul _ngcontent-uga-c17="">
                                    <li _ngcontent-uga-c17=""><i _ngcontent-uga-c17="" class="pe-7s-home"></i> 115,
                                        JODHPUR PARK KOLKATA </li>
                                    <li _ngcontent-uga-c17=""><i _ngcontent-uga-c17="" class="pe-7s-home"></i>
                                        PINCODE-700068</li>
                                    <li _ngcontent-uga-c17=""><i _ngcontent-uga-c17="" class="pe-7s-mail"></i><a
                                            _ngcontent-uga-c17=""
                                            href="mailto:info@glownglitter.com">glownglitter.com</a></li>
                                    <li _ngcontent-uga-c17=""><i _ngcontent-uga-c17="" class="pe-7s-call"></i><a
                                            _ngcontent-uga-c17="" href="tel:(+91)9051398740">(+91) 9051398740</a>
                                    </li>
                                    <li _ngcontent-uga-c17=""><i _ngcontent-uga-c17="" class="pe-7s-call"></i><a
                                            _ngcontent-uga-c17="" href="tel:(+91)9874406700">(+91) 9874406700</a>
                                    </li>
                                </ul>
                            </address>
                        </div>
                    </div>
                </div>
                <div _ngcontent-uga-c17="" class="col-lg-3 col-md-8">
                    <div _ngcontent-uga-c17="" class="widget-item">
                        <h6 _ngcontent-uga-c17="" class="widget-title">Information</h6>
                        <div _ngcontent-uga-c17="" class="widget-body">
                            <ul _ngcontent-uga-c17="" class="info-list">
                                <li _ngcontent-uga-c17=""><a _ngcontent-uga-c17="" routerlink="about"
                                        href="/about">about us</a></li>
                                <li _ngcontent-uga-c17=""><a _ngcontent-uga-c17="" routerlink="shipping"
                                        href="/shipping">Shipping</a></li>
                                <li _ngcontent-uga-c17=""><a _ngcontent-uga-c17="" routerlink="cancellation"
                                        href="/cancellation">Cancellation &amp; Refund </a></li>
                                <li _ngcontent-uga-c17=""><a _ngcontent-uga-c17="" routerlink="priacypolicy"
                                        href="/priacypolicy">privacy policy</a></li>
                                <li _ngcontent-uga-c17=""><a _ngcontent-uga-c17="" routerlink="termscondition"
                                        href="/termscondition">Terms &amp; Conditions</a></li>
                                <li _ngcontent-uga-c17=""><a _ngcontent-uga-c17="" routerlink="contact"
                                        href="/contact">contact us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div _ngcontent-uga-c17="" class="col-lg-3 col-md-6">
                    <div _ngcontent-uga-c17="" class="widget-item">
                        <h6 _ngcontent-uga-c17="" class="widget-title">Follow Us</h6>
                        <div _ngcontent-uga-c17="" class="widget-body social-link"><a _ngcontent-uga-c17=""
                                href="https://www.facebook.com/GlowNGlitter"><i _ngcontent-uga-c17=""
                                    class="fa fa-facebook"></i></a><a _ngcontent-uga-c17="" href="#"><i
                                    _ngcontent-uga-c17="" class="fa fa-twitter"></i></a><a _ngcontent-uga-c17=""
                                href="#"><i _ngcontent-uga-c17="" class="fa fa-instagram"></i></a><a
                                _ngcontent-uga-c17="" href="#"><i _ngcontent-uga-c17="" class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div _ngcontent-uga-c17="" class="footer-bottom">
        <div _ngcontent-uga-c17="" class="container">
            <div _ngcontent-uga-c17="" class="row">
                <div _ngcontent-uga-c17="" class="col-12">
                    <div _ngcontent-uga-c17="" class="copyright-text text-center">
                        <p _ngcontent-uga-c17="">© 2023 <b _ngcontent-uga-c17="">Glow N Glitter</b> Made by<i
                                _ngcontent-uga-c17="" class="fa fa-heart text-danger"></i> by <a _ngcontent-uga-c17=""
                                href="http://www.soltechsolution.in/"><b _ngcontent-uga-c17=""
                                    style="color: brown;">Soltech Solution</b></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>